/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2015, 13:57:22
    Author     : sio1
*/

body
{
	font-family: Arial Black;
	position: static;
    left: 100px;
    
}

.titre
{
    font-family: Times New Roman , Serif;
    font-size: 25px;
    font-style: oblique;
	padding-left:8cm;
	text-decoration : underline;
}

.upload
{
	border : 10%;
    border-width: medium;
    border: 2px solid;
    padding: 10px;
    background: #FFFFE0;
    border-bottom-right-radius: 2em;
	border-bottom-left-radius : 2em;
	padding-left : 12cm;
	font-family: Arial Black;
	font-size : 12px
}

.recherche 
{
	border : 10%;
    border-width: medium;
    border: 2px solid;
    padding: 10px;
    background: #FFFFE0;
    border-bottom-right-radius: 2em;
	border-bottom-left-radius:2em;
	padding-left : 12cm;
	font-family: Arial Black;
	font-size : 12px;

}

.description
{
    
	font-size : 14px;
}

.warning
{
	
	font-family : Arial Black;
	font-size : 19px;
	font-weight : bold;
	color : red;
	text-decoration : underline;
}

.reussi
{
	
	font-family : Arial Black;
	font-size : 19px;
	font-weight : bold;
	color : green;
	text-decoration : underline;
}

.retour
{
	
	font-family : Arial Black;
	font-size : 12px;
	
	
}

.barreRecherche
{
	border : 10%;
    border-width: medium;
    border: 2px solid;
    padding: 10px;
    background: #FFFFE0;
    border-bottom-right-radius: 2em;
	border-bottom-left-radius:2em;
	font-family: Arial Black;
	font-size : 12px
}